a {
	text-decoration: none;
}
#create-ncr-menu {
	display: none;
}
nav {
	background-color: #5897c9;
	border-bottom: 2px solid black;
	padding: 1.3rem;
}

nav li {
	border-bottom: 1px solid black;
}
.navbar {
	align-items: center;
	display: grid;
	font-size: 20px;
	font-weight: 600;
	grid-template-columns: repeat(3, auto);
}

.navbar .logo {
	width: 25%;
	filter: brightness(100);
}

.navbar a {
	color: #163451;
}
.navbar a:hover {
	color: #fff;
}

.navbar-links {
	display: none;
	grid-template-columns: 1fr;
	position: absolute;
	right: 0;
	top: 19%;
	width: 100%;
	z-index: 100;
}

.navbar-links a {
	background-color: #5897c9;
	color: #000;
	display: block;
	padding: 1.5rem;
}

.navbar-links a:hover {
	border-radius: 25px;
	color: #fff;
}

.navbar-links ul {
	display: grid;
	grid-template-columns: 1fr;
	list-style: none;
	margin: 0;
	padding: 0;
}

.navbar-menu {
	cursor: pointer;
	display: block;
	font-size: 3.5rem;
	justify-self: end;
}

.navbar-notification {
	cursor: pointer;
	display: block;
	font-size: 2rem;
	justify-self: end;
	position: relative;
}

.navbar-notification:hover {
	color: #fff;
}

.navbar-icons {
	color: #000;
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.hidden {
	display: none;
}
.notification-indicator {
	position: absolute;
	top: -4px;
	right: -4px;
	background: #e63946;
	color: white;
	font-size: 0.7rem;
	padding: 2px 6px;
	border-radius: 999px;
	min-width: 18px;
	height: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}
.notification-indicator.hidden {
	display: none;
}
.notification-popup {
	background: white;
	border: 1px solid #dcdcdc;
	border-radius: 12px;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
	padding: 1rem;
	position: absolute;
	top: 90px;
	right: 20px;
	width: 100%;
	max-width: 250px;
	z-index: 100;
	overflow-y: auto;
	max-height: 450px;
}
.skip-link {
	position: absolute;
	top: -40px;
	left: 0;
	background: #000;
	color: #fff;
	padding: 8px 12px;
	z-index: 999;
	transition: top 0.2s;
}
.skip-link:focus {
	top: 0;
}

@media screen and (min-width: 1024px) {
	nav li {
		border: none;
	}

	.navbar {
		font-size: 18px;
	}
	.navbar-links {
		display: grid;
		position: static;
	}
	.navbar-links a {
		justify-self: end;
	}
	.navbar-links ul {
		grid-template-columns: repeat(5, auto);
	}
	.navbar-menu {
		display: none;
	}
	.notification-popup {
		width: 35%;
		max-width: 550px;
	}
}
@media screen and (min-width: 1440px) {
	.navbar {
		font-size: 24px;
	}
}
