a {
    text-decoration: none;
}

nav {
  background-color: #5897c9;
  border-bottom: 2px solid black;
  padding: 1.3rem;
}

nav li {
  border-bottom: 1px solid black;
}
.navbar {
  align-items: center;
  display: grid;
  font-size: 20px;
  font-weight: 600;
  grid-template-columns: auto auto;
}

.navbar .logo {
    width: 25%;
}

.navbar a {
  color: #fff;
}
.navbar a:hover {
  color: #163451;
}

.navbar-links {
  display: none;
  grid-template-columns: 1fr;
  position: absolute;
  right: 0;
  top: 8rem;
  width: 100%;
}

.navbar-links a {
  background-color: #5897c9;
  color: #fff;
  display: block;
  padding: 1.5rem;
}

.navbar-links a:hover {
  border-radius: 25px;
  color: #163451;
}

.navbar-links ul {
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-menu {
  cursor: pointer;
  display: block;
  font-size: 3.5rem;
  justify-self: end;
}

@media screen and (min-width: 1024px) {
  nav li {
    border: none;
  }

  .navbar {
    font-size: 18px;
  }
  .navbar-links {
    display: grid;
    position: static;
  }
  .navbar-links a {
    justify-self: end;
  }
  .navbar-links ul {
    grid-template-columns: repeat(3, auto);
  }
  .navbar-menu {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .navbar {
    font-size: 24px;
  }
}
