.role-tab {
	position: relative;
}
.role-tab input {
	position: absolute;
	opacity: 0;
	z-index: -1;
}
.tab_content {
	max-height: 0;
	overflow: hidden;
	transition: all 0.35s;
}
.role-tab input:checked ~ .tab_content {
	max-height: 100vh;
}

.accordion {
	color: var(--theme);
	border: 2px solid;
	border-radius: 0.5rem;
	overflow: hidden;
}

.tab__label,
.tab__close {
	display: flex;
	color: white;
	background: var(--theme);
	cursor: pointer;
}
.tab__label {
	justify-content: space-between;
	padding: 1rem;
}
.tab__label::after {
	content: "\276F";
	width: 1em;
	height: 1em;
	text-align: center;
	transform: rotate(90deg);
	transition: all 0.35s;
}
.role-tab input:checked + .tab__label::after {
	transform: rotate(270deg);
}
.tab_content .accordion-container {
	margin: 0;
	padding: 0rem;
	overflow-y: auto;
	max-height: 100vh;
}
.tab__close {
	justify-content: flex-end;
	padding: 0.5rem 1rem;
	font-size: 0.75rem;
}
.accordion--radio {
	--theme: #5897c9;
}

/* Arrow animation */
.role-tab input:not(:checked) + .tab__label:hover::after {
	animation: bounce 0.5s infinite;
}
@keyframes bounce {
	25% {
		transform: rotate(90deg) translate(0.25rem);
	}
	75% {
		transform: rotate(90deg) translate(-0.25rem);
	}
}
