.role-tab {
	position: relative;
}
.role-tab input {
	position: absolute;
	opacity: 0;
	z-index: -1;
}
.tab_content {
	max-height: 0;
	overflow: hidden;
	transition: all 0.35s;
}
.role-tab input:checked ~ .tab_content {
	max-height: 100vh;
}

.accordion {
	color: var(--theme);
	border: 2px solid;
	border-radius: 0.5rem;
	overflow: hidden;
	margin-bottom: 10px;
}

.tab__label,
.tab__close {
	display: flex;
	color: #fff;
	background: var(--theme);
	cursor: pointer;
}
.tab__label {
	justify-content: space-between;
	padding: 1rem;
}
.tab__label::after {
	content: "\276F";
	width: 1em;
	height: 1em;
	text-align: center;
	transform: rotate(90deg);
	transition: all 0.35s;
}
.role-tab input:checked + .tab__label::after {
	transform: rotate(270deg);
}
.tab_content .accordion-container {
	margin: 0;
	padding: 0rem;
	overflow-y: auto;
	max-height: 100vh;
}
.tab__close {
	justify-content: flex-end;
	padding: 0.5rem 1rem;
	font-size: 0.75rem;
}
.accordion--radio {
	--theme: #5897c9;
}

/* eng  */
.radio-group {
  display: flex;
  /* flex-direction: column; */
}

.radio-label {
  display: flex;
  align-items: center;
  padding: 0.5em;
  margin-bottom: 0.5em;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.2s, border-color 0.2s;
}

.radio-label:hover {
  background-color: #e6e6e6;
}

.radio-input {
  position: absolute;
  opacity: 0;
}

.radio-input:checked + .radio-label {
  background-color: #5896c959;
  border-color: var(--theme);
}

.radio-input:focus + .radio-label {
  outline: 1px solid var(--theme);
}

.radio-inner-circle {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 2px solid #888;
  border-radius: 50%;
  margin-right: 0.5em;
  transition: border-color 0.2s;
  position: relative;
}

.radio-label:hover .radio-inner-circle {
  border-color: #555;
}

.radio-input:checked + .radio-label .radio-inner-circle {
  border-color: var(--theme);
}

.radio-input:checked + .radio-label .radio-inner-circle::after {
  content: '';
  display: block;
  width: 0.5em;
  height: 0.5em;
  background-color: var(--theme);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* #showMessageBox{
	display: none;
} */
    
/* Arrow animation */
.role-tab input:not(:checked) + .tab__label:hover::after {
	animation: bounce 0.5s infinite;
}
@keyframes bounce {
	25% {
		transform: rotate(90deg) translate(0.25rem);
	}
	75% {
		transform: rotate(90deg) translate(-0.25rem);
	}
}
